framework: net8.0
source https://api.nuget.org/v3/index.json

nuget Microsoft.Extensions.Http.Polly 8.0.3

// For more healtchecks, look at https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks
nuget AspNetCore.HealthChecks.SqlServer 8.0.0
nuget AspNetCore.HealthChecks.NpgSql 8.0.0

nuget AsyncEnumerator 4.0.2
nuget Dapper 2.1.35

nuget Datadog.Trace.Bundle 2.49.0

nuget Destructurama.JsonNet 3.0.0

nuget MediatR 12.2.0
nuget MediatR.Contracts 2.0.1
nuget Microsoft.EntityFrameworkCore.SqlServer.NetTopologySuite 8.0.3
nuget NetTopologySuite 2.5.0

nuget Microsoft.EntityFrameworkCore.Design 8.0.3

nuget Npgsql 8.0.2
nuget Npgsql.EntityFrameworkCore.PostgreSQL 8.0.2
nuget Npgsql.EntityFrameworkCore.PostgreSQL.Design 2.0.0-preview1
nuget Npgsql.EntityFrameworkCore.PostgreSQL.NetTopologySuite 8.0.2

// VBR STUFF
nuget Be.Vlaanderen.Basisregisters.Build.Pipeline 7.2.5
nuget Be.Vlaanderen.Basisregisters.Testing.Infrastructure.Events 4.0.0 content: true, copy_content_to_output_dir: always, copy_local: true

nuget Be.Vlaanderen.Basisregisters.AggregateSource 9.0.1
nuget Be.Vlaanderen.Basisregisters.AggregateSource.ExplicitRouting 9.0.1
nuget Be.Vlaanderen.Basisregisters.AggregateSource.SqlStreamStore.Autofac 9.0.1
nuget Be.Vlaanderen.Basisregisters.AggregateSource.Testing 9.0.1
nuget Be.Vlaanderen.Basisregisters.AggregateSource.Testing.CommandHandling 9.0.1
nuget Be.Vlaanderen.Basisregisters.AggregateSource.Testing.SqlStreamStore.Autofac 9.0.1
nuget Be.Vlaanderen.Basisregisters.AggregateSource.Testing.Xunit 9.0.1
nuget Be.vlaanderen.basisregisters.SnapshotVerifier 9.0.1

nuget Be.Vlaanderen.Basisregisters.Api 23.1.0

nuget Be.Vlaanderen.Basisregisters.Auth.AcmIdm 2.0.0

nuget Be.Vlaanderen.Basisregisters.Aws.DistributedMutex 4.0.1
nuget Be.Vlaanderen.Basisregisters.Aws.Lambda 4.0.0

nuget Be.Vlaanderen.Basisregisters.CommandHandling 9.0.1
nuget Be.Vlaanderen.Basisregisters.CommandHandling.Idempotency 9.0.1
nuget Be.Vlaanderen.Basisregisters.CommandHandling.SqlStreamStore 9.0.1

nuget Be.Vlaanderen.Basisregisters.EventHandling 5.0.0
nuget Be.Vlaanderen.Basisregisters.EventHandling.Autofac 5.0.0

nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.LastChangedList 14.0.0
nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.SqlStreamStore 14.0.0
nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.SqlStreamStore.Autofac 14.0.0
nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.Runner 14.0.0
nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.Runner.SqlServer 14.0.0
nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.Runner.Npgsql 14.0.0
nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.Connector.Testing 14.0.0
nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.Testing.Xunit 14.0.0
nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.Syndication 14.0.0

nuget Be.Vlaanderen.Basisregisters.Projector 15.0.0

nuget Be.Vlaanderen.Basisregisters.Crab 4.0.0
nuget Be.Vlaanderen.Basisregisters.Crab.Autofac 4.0.0

nuget Be.Vlaanderen.Basisregisters.GrAr.Common 21.1.0
nuget Be.Vlaanderen.Basisregisters.GrAr.Contracts 21.1.0
nuget Be.Vlaanderen.Basisregisters.GrAr.Edit 21.1.0
nuget Be.Vlaanderen.Basisregisters.GrAr.Import 21.1.0
nuget Be.Vlaanderen.Basisregisters.GrAr.Legacy 21.1.0
nuget Be.Vlaanderen.Basisregisters.GrAr.Oslo 21.1.0
nuget Be.Vlaanderen.Basisregisters.GrAr.Provenance 21.1.0
nuget Be.Vlaanderen.Basisregisters.GrAr.Extracts 21.1.0
nuget Be.Vlaanderen.Basisregisters.GrAr.Provenance.AcmIdm 21.1.0

nuget Be.Vlaanderen.Basisregisters.MessageHandling.AwsSqs.Simple 5.0.1
nuget Be.Vlaanderen.Basisregisters.MessageHandling.Kafka.Producer 5.0.1
nuget Be.Vlaanderen.Basisregisters.MessageHandling.Kafka.Consumer 5.0.1
nuget Be.Vlaanderen.Basisregisters.MessageHandling.Kafka.Consumer.SqlServer 5.0.1

nuget Be.Vlaanderen.Basisregisters.Shaperon 10.0.2

nuget Be.Vlaanderen.Basisregisters.Sqs 3.0.1
nuget Be.Vlaanderen.Basisregisters.Sqs.Lambda 3.0.1

nuget Be.Vlaanderen.Basisregisters.TicketingService.Abstractions 2.0.1
nuget Be.Vlaanderen.Basisregisters.TicketingService.Proxy.HttpProxy 2.0.1

// DOCS STUFF
nuget Structurizr.Core 0.9.7
nuget Structurizr.Client 0.9.7
nuget Structurizr.AdrTools 0.9.3

// TEST STUFF
nuget Microsoft.AspNetCore.Mvc.Testing 8.0.3
nuget Microsoft.NET.Test.Sdk 17.9.0
nuget Microsoft.EntityFrameworkCore.InMemory 8.0.3
nuget xunit 2.7.0
nuget xunit.runner.visualstudio 2.5.7
nuget FluentAssertions 6.12.0
nuget Moq 4.20.70
nuget AutoFixture.Xunit2 4.18.1
nuget Serilog.Sinks.XUnit 3.0.5
nuget Be.Vlaanderen.Basisregisters.DockerUtilities 2.0.0

// BUILD STUFF
nuget SourceLink.Embed.AllSourceFiles 2.8.3 copy_local: true
nuget SourceLink.Copy.PdbFiles 2.8.3 copy_local: true
