framework: netcoreapp31, net472
source https://api.nuget.org/v3/index.json

// PRODUCTION STUFF
nuget Microsoft.Extensions.Configuration 3.1.5
nuget Microsoft.Extensions.Configuration.CommandLine 3.1.5
nuget Microsoft.Extensions.Configuration.FileExtensions 3.1.5
nuget Microsoft.Extensions.Configuration.EnvironmentVariables 3.1.5
nuget Microsoft.Extensions.Configuration.Json 3.1.5

nuget Microsoft.Extensions.Http.Polly 3.1.5

// For more healtchecks, look at https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks
nuget AspNetCore.HealthChecks.SqlServer 3.1.1

nuget AsyncEnumerator 4.0.2
nuget Dapper 2.0.35
nuget CsvHelper 15.0.5

nuget NetTopologySuite 2.0.0

nuget Microsoft.EntityFrameworkCore.Design 3.1.5

// VBR STUFF
nuget Be.Vlaanderen.Basisregisters.Build.Pipeline 4.2.1
nuget Be.Vlaanderen.Basisregisters.Testing.Infrastructure.Events 2.2.4 content: true, copy_content_to_output_dir: always, copy_local: true

nuget Be.Vlaanderen.Basisregisters.AggregateSource 5.0.6
nuget Be.Vlaanderen.Basisregisters.AggregateSource.ExplicitRouting 5.0.6
nuget Be.Vlaanderen.Basisregisters.AggregateSource.SqlStreamStore.Autofac 5.0.6
nuget Be.Vlaanderen.Basisregisters.AggregateSource.Testing 5.0.6
nuget Be.Vlaanderen.Basisregisters.AggregateSource.Testing.CommandHandling 5.0.6
nuget Be.Vlaanderen.Basisregisters.AggregateSource.Testing.SqlStreamStore.Autofac 5.0.6
nuget Be.Vlaanderen.Basisregisters.AggregateSource.Testing.Xunit 5.0.6

nuget Be.Vlaanderen.Basisregisters.Api 11.4.1

nuget Be.Vlaanderen.Basisregisters.Aws.DistributedMutex 2.2.6

nuget Be.Vlaanderen.Basisregisters.CommandHandling 5.0.6
nuget Be.Vlaanderen.Basisregisters.CommandHandling.Idempotency 5.0.6
nuget Be.Vlaanderen.Basisregisters.CommandHandling.SqlStreamStore 5.0.6

nuget Be.Vlaanderen.Basisregisters.EventHandling 2.2.4
nuget Be.Vlaanderen.Basisregisters.EventHandling.Autofac 2.2.4

nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.LastChangedList 6.0.5
nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.SqlStreamStore 6.0.5
nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.SqlStreamStore.Autofac 6.0.5
nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.Runner 6.0.5
nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.Connector.Testing 6.0.5
nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.Testing.Xunit 6.0.5
nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.Syndication 6.0.5

nuget Be.Vlaanderen.Basisregisters.Projector 5.4.1

nuget Be.Vlaanderen.Basisregisters.DataDog.Tracing.Autofac 4.5.1
nuget Be.Vlaanderen.Basisregisters.DataDog.Tracing.AspNetCore 4.5.1
nuget Be.Vlaanderen.Basisregisters.DataDog.Tracing.SqlStreamStore 4.5.1

nuget Be.Vlaanderen.Basisregisters.Crab 2.1.4

nuget Be.Vlaanderen.Basisregisters.GrAr.Common 15.6.2
nuget Be.Vlaanderen.Basisregisters.GrAr.Import 15.6.2
nuget Be.Vlaanderen.Basisregisters.GrAr.Legacy 15.6.2
nuget Be.Vlaanderen.Basisregisters.GrAr.Provenance 15.6.2
nuget Be.Vlaanderen.Basisregisters.GrAr.Extracts 15.6.2

nuget Be.Vlaanderen.Basisregisters.Shaperon 8.0.1

// .NET CLASSIC STUFF
nuget EntityFramework 6.4.4
nuget Microsoft.SqlServer.Types 13.0.4001 // Don't update: requires version 13.0.4001 for legacy reasons

// DOCS STUFF
nuget Structurizr.Core 0.9.6
nuget Structurizr.Client 0.9.6
nuget Structurizr.AdrTools 0.9.3

// TEST STUFF
nuget Microsoft.NET.Test.Sdk 16.6.1
nuget Microsoft.EntityFrameworkCore.InMemory 3.1.5
nuget xunit 2.4.1
nuget xunit.runner.visualstudio 2.4.2
nuget xunit.categories 2.0.4
nuget FluentAssertions 5.10.3
nuget Moq 4.14.3
nuget AutoFixture.Xunit2 4.11.0
nuget Serilog.Sinks.XUnit 2.0.4

// BUILD STUFF
nuget SourceLink.Embed.AllSourceFiles 2.8.3 copy_local: true
nuget SourceLink.Copy.PdbFiles 2.8.3 copy_local: true
