<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AddressRegistry.Importer.HouseNumber.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>

  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>

  <connectionStrings>
    <add name="CRABEntities" connectionString="metadata=res://*/Entity.CRAB.csdl|res://*/Entity.CRAB.ssdl|res://*/Entity.CRAB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=CRAB;integrated security=True;MultipleActiveResultSets=True;App=Vbr.CrabRemoteRepo&quot;" providerName="System.Data.EntityClient"/>
    <add name="Crab2Vbr" connectionString="Data Source=.;Initial Catalog=AzureVbr;integrated security=True;MultipleActiveResultSets=True;App=Vbr.CrabRemoteRepo" />
  </connectionStrings>

  <applicationSettings>
    <AddressRegistry.Importer.HouseNumber.Properties.Settings>
      <setting name="ImportEndpoint" serializeAs="String">
        <value>v1/crabimport</value>
      </setting>
      <setting name="HttpTimeoutInMinutes" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="NrOfProducers" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BufferSize" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="NrOfConsumers" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BatchSize" serializeAs="String">
        <value>50000</value>
      </setting>
      <setting name="TimeMargin" serializeAs="String">
        <value>00:05:00</value>
      </setting>
      <setting name="BaseUrl" serializeAs="String">
        <value>http://localhost:5000</value>
      </setting>
      <setting name="ImportAuthUser" serializeAs="String">
        <value />
      </setting>
      <setting name="ImportAuthPass" serializeAs="String">
        <value />
      </setting>
      <setting name="ImportBatchStatusEndpoint" serializeAs="String">
        <value>v1/crabimport/batch</value>
      </setting>
      <setting name="WaitForUserInput" serializeAs="String">
        <value>True</value>
      </setting>
    </AddressRegistry.Importer.HouseNumber.Properties.Settings>
  </applicationSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
